[submodule "cloudformation"]
	path = cloudformation
	url = git@github.com:lambda-my-aws/Layer-cloudformation
[submodule "codebuild"]
	path = codebuild
	url = git@github.com:lambda-my-aws/Layer-codebuild.git
[submodule "helpers"]
	path = helpers
	url = git@github.com:lambda-my-aws/layer-helpers
[submodule "lambdatools"]
	path = lambdatools
	url = git@github.com:lambda-my-aws/layer-lambdatools
